body {
    background-image: url("../img/wallpaperflare.jpg");
    background-size: cover;
    background-position: center;
}

.list-group-item {
    border-radius: 10px;
    margin-bottom: 10px;
}

.badge {
    font-size: 14px;
}

nav {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}